@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Edu+SA+Beginner&family=Libre+Baskerville&family=Montserrat:wght@100&display=swap');

body{
    font-family: 'Caveat', cursive;
    overflow: hidden;
    background: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
}
.container{

    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.digitalclock{

    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    background: wheat;

}

.digitalclock h1{
    display: inline-block; 
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;
}
@media(max-width:768px){
    #bar1, #bar2 {
        display: none;
    }
    .digitalclock{
        text-align: center;
        width: 100%;
    }
    .digitalclock h1{
        display: block;
      }}

      @media(max-width:40px){
    .digitalclock h1{
        font-size: 4rem;
    }
}

